<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>







  <mat-drawer-container class="container" autosize>

    <!-- Begining of side Navigation -->
    <mat-drawer #drawer class="sidenav">
      <mat-icon>home</mat-icon>

      <mat-card>
        <mat-card-content>
          Some content goes in mat-card-header
          I lOVE MAT CARDS ALOT
        </mat-card-content>
      </mat-card>

    </mat-drawer>
    <!-- End of Side Navigation -->

    <div class="container">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <span>
            <h4> {{ username }} </h4>
          </span>
          <div class="moreMenu">
            <a (click)="signOut()" mat-button>LogOut</a>
            <button mat-icon-button [matMenuTriggerFor]="appMenu">
              <mat-icon>more_vert</mat-icon>
            </button></div>
          <mat-menu #appMenu>
            <button mat-menu-item>
              <mat-icon>folder</mat-icon>
              <span>Folder</span>
            </button>
            <button mat-menu-item>
              <mat-icon>update</mat-icon>
              <span>Update</span>
            </button>
            <button mat-menu-item>
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
            <button mat-menu-item>
              <mat-icon>share</mat-icon>
              <span>Share</span>
            </button>
          </mat-menu>
        </mat-toolbar-row>
      </mat-toolbar>

      <mat-tab-group>
        <mat-tab label="Chats">
          <ng-template matTabContent>

            <mat-grid-list cols="5" rowHeight="2:1" gutterSize="2px">
              <mat-grid-tile class="SenderDetails" colspan="2" rowspan="4">
                <mat-grid-tile-header color="primary">Sender</mat-grid-tile-header>

                <div class="messageContainer">
                  <mat-form-field>
                    <textarea matInput type="text" placeholder="Enter Message"></textarea>
                  </mat-form-field>
                  <span><button mat-icon-button (click)="sendMsg($event)">
                      <mat-icon>send</mat-icon>
                    </button></span>
                </div>

                <mat-grid-tile-footer color="primary">Like</mat-grid-tile-footer>
              </mat-grid-tile>

              <mat-grid-tile rowspan="4" colspan="3">
                <mat-spinner *ngIf="showSpinner"></mat-spinner>

                <mat-card class="replyMe">
                  <mat-card-header>Group Chat</mat-card-header>
                  <mat-card-content>
                    <div class="responseContainer">

                      <div>
                        <ul class="output" hidden>
                          <li></li>
                        </ul>
                      </div>
                      <p class="typing"></p>

                    </div>
                    <mat-card-actions>
                      <span>
                        <mat-icon>repy</mat-icon>
                      </span>
                      <span>
                        <mat-icon>thumb_up</mat-icon>
                      </span>
                    </mat-card-actions>
                  </mat-card-content>
                </mat-card><br><br>
                <div class="displayAllMessage"></div>
                <!-- <mat-card class="replyMe">
                  <mat-card-header>Group Chat</mat-card-header>
                  <mat-card-content>
                    <div class="responseContainer">

                      <div>
                        <ul class="output" hidden></ul>
                      </div>
                      <p class="typing"></p>

                    </div>
                    <mat-card-actions>
                      <span>
                        <mat-icon>repy</mat-icon>
                      </span>
                      <span>
                        <mat-icon>thumb_up</mat-icon>
                      </span>
                    </mat-card-actions>
                  </mat-card-content>
                </mat-card> -->
                <!-- <div class="containerChat"></div> -->

              </mat-grid-tile>
            </mat-grid-list>
          </ng-template>
        </mat-tab>

        <!-- New tab starts here -->
        <mat-tab label="Status">
          <ng-template matTabContent>
            <mat-card id="messageReceived">message received is here to fit the designed element in the
              template component
            </mat-card>
          </ng-template>
        </mat-tab>

        <mat-tab label="Info">
          <ng-template matTabContent>
            <mat-list>
              <mat-list-item>ITEMS HERE</mat-list-item>
              <mat-list-item>ITEMS HERE</mat-list-item>
              <mat-list-item>ITEMS HERE</mat-list-item>
            </mat-list>
          </ng-template>
        </mat-tab>
      </mat-tab-group>



    </div>
  </mat-drawer-container>








</body>

</html>
