<div class="container">
  <mat-toolbar color="primary">
    <span id="brand">LIA</span>
    <span><a [routerLink]="['/chat']" routerLinkActive="router-link-active" (click)="chat()" mat-raised-button color="brown">Chat</a></span>
    <span><a [routerLink]="['/status']" routerLinkActive="router-link-active" (click)="status()" mat-raised-button
        color="brown">Status</a></span>
    <span><a [routerLink]="['/info']" routerLinkActive="router-link-active" (click)="info()" mat-raised-button color="brown">Info</a></span>

    <!-- Creating A Material Menu -->
    <mat-menu #appMenu="matMenu">
      <a mat-menu-item>LogOut</a>
      <a mat-menu-item>Search</a>
      <a mat-menu-item>Settings</a>
      <a mat-menu-item>About</a>
    </mat-menu>
    <button id="menu" mat-raised-button [matMenuTriggerFor]="appMenu">Click</button>
  </mat-toolbar>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>

</div>
