.container {
  margin: 0 auto;
  /* margin: 0% 25%; */
  /* margin-top: 3%; */
}

span {
  margin-right: 5%;
  padding: 10px;
}

a {
  background-color: gold;
}

mat-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
  cursor: pointer;
  background-color: white;
}
